helpmystreet-uat-datafactory/PartialArmTemplates/ArmTemplate_7_15_2021_9_22_30.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "helpmystreet-uat-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Every60')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressAddressDetail",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressPostCode",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressPreComputedNearestPostcodes",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJob",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJobStatus",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserChampionPostCode",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserSupportActivity",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserRegistrationHistory",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_VerificationAttempts",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJobQuestions",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestQuestionSetActivityQuestions",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestQuestionSetQuestion",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroup",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupUserRole",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupUserRoleAudit",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupWebsiteRegistrationJourney",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJobAvailableToGroup",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestRequest",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserUser",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_CommunicationEvent",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_FeedbackFeedback",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupActivityCredentialSet",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupCredential",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupCredentialSet",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupSecurityConfiguration",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupUserCredential",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestSupportActivities",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupWebsiteRequestHelpJourney",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestShift",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressLocation",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupCredential",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupSupportActivityInstructions",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupNewRequestNotificationStrategy",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupLocation",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupSupportActivityConfiguration",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupMapDetails",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupEmailConfiguration",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-05-28T18:49:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/IncrementalCopyPipeline_GroupGroupMapDetails')]",
				"[concat(variables('factoryId'), '/pipelines/IncrementalCopyPipeline_GroupGroupEmailConfiguration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OneOff')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressAddressDetail",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressPostCode",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressPreComputedNearestPostcodes",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJob",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJobStatus",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserChampionPostCode",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserSupportActivity",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserRegistrationHistory",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_VerificationAttempts",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJobQuestions",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestQuestionSetActivityQuestions",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestQuestionSetQuestion",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroup",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupUserRole",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupUserRoleAudit",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupWebsiteRegistrationJourney",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestJobAvailableToGroup",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestRequest",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_UserUser",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_CommunicationEvent",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_FeedbackFeedback",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupActivityCredentialSet",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupCredential",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupCredentialSet",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupSecurityConfiguration",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupUserCredential",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestSupportActivities",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupWebsiteRequestHelpJourney",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_AddressLocation",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupCredential",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupSupportActivityInstructions",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupNewRequestNotificationStrategy",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupLocation",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupSupportActivityConfiguration",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_RequestShift",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupMapDetails",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "IncrementalCopyPipeline_GroupGroupEmailConfiguration",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2020-07-14T14:41:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								18
							],
							"hours": [
								16
							],
							"monthDays": [
								14
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/IncrementalCopyPipeline_GroupGroupMapDetails')]",
				"[concat(variables('factoryId'), '/pipelines/IncrementalCopyPipeline_GroupGroupEmailConfiguration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceGroupGroupEmailConfigurationDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceGroupServiceLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupName",
						"type": "varchar"
					},
					{
						"name": "ParentGroupID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupKey",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Group",
					"table": "GroupEmailConfiguration"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceGroupGroupMapDetailsDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceGroupServiceLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupName",
						"type": "varchar"
					},
					{
						"name": "ParentGroupID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupKey",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Group",
					"table": "GroupMapDetails"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkGroupGroupEmailConfigurationDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DestinationLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Group",
					"table": "GroupEmailConfiguration"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkGroupGroupMapDetailsDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DestinationLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Group",
					"table": "GroupMapDetails"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_GroupGroupEmailConfiguration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.GroupID, r.[Configuration], r.CommunicationJobTypeID, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Group].[GroupEmailConfiguration] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Configuration",
											"type": "String"
										},
										"sink": {
											"name": "Configuration",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CommunicationJobTypeID",
											"type": "Byte"
										},
										"sink": {
											"name": "CommunicationJobTypeID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceGroupGroupEmailConfigurationDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkGroupGroupEmailConfigurationDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceGroupGroupEmailConfigurationDataset')]",
				"[concat(variables('factoryId'), '/datasets/SinkGroupGroupEmailConfigurationDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_GroupGroupMapDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.GroupID, r.[MapLocationID], r.Latitude, r.Longitude, r.ZoomLevel, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Group].[GroupMapDetails] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Configuration",
											"type": "String"
										},
										"sink": {
											"name": "Configuration",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CommunicationJobTypeID",
											"type": "Byte"
										},
										"sink": {
											"name": "CommunicationJobTypeID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceGroupGroupMapDetailsDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkGroupGroupEmailConfigurationDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceGroupGroupMapDetailsDataset')]",
				"[concat(variables('factoryId'), '/datasets/SinkGroupGroupEmailConfigurationDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline_GroupGroupEmailConfiguration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Group.GroupEmailConfiguration'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingGroupDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "LookupCurrentChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingGroupDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupCurrentChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select CT.GroupID, r.Configuration, CT.CommunicationJobTypeID, CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION\nfrom [Group].[GroupEmailConfiguration] r RIGHT OUTER JOIN \nCHANGETABLE(CHANGES [Group].[GroupEmailConfiguration], @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) as CT \non r.GroupID = CT.GroupID and r.CommunicationJobTypeID = CT.CommunicationJobTypeID where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Configuration",
											"type": "String"
										},
										"sink": {
											"name": "Configuration",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CommunicationJobTypeID",
											"type": "Byte"
										},
										"sink": {
											"name": "CommunicationJobTypeID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceGroupGroupEmailConfigurationDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkGroupGroupEmailConfigurationDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "StoredProceduretoUpdateChangeTrackingActivity",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Update_ChangeTracking_Version",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "INT64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SourceGroupServiceLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceGroupGroupEmailConfigurationDataset')]",
				"[concat(variables('factoryId'), '/datasets/SinkGroupGroupEmailConfigurationDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline_GroupGroupMapDetails')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Group.GroupMapDetails'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingGroupDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "LookupCurrentChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingGroupDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupCurrentChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select CT.GroupID, CT.MapLocationID, r.Latitude, r.Longitude, r.ZoomLevel, CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION\nfrom [Group].[GroupMapDetails] r RIGHT OUTER JOIN \nCHANGETABLE(CHANGES [Group].[GroupMapDetails], @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) as CT \non r.GroupID = CT.GroupID and r.MapLocationID = CT.MapLocationID \nwhere CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "GroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MapLocationID",
											"type": "Byte"
										},
										"sink": {
											"name": "MapLocationID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ZoomLevel",
											"type": "Decimal"
										},
										"sink": {
											"name": "ZoomLevel",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceGroupGroupMapDetailsDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkGroupGroupMapDetailsDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "StoredProceduretoUpdateChangeTrackingActivity",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Update_ChangeTracking_Version",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "INT64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SourceGroupServiceLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceGroupGroupMapDetailsDataset')]",
				"[concat(variables('factoryId'), '/datasets/SinkGroupGroupMapDetailsDataset')]"
			]
		}
	]
}