helpmystreet-uat-datafactory/PartialArmTemplates/ArmTemplate_7_9_2020_16_7_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "helpmystreet-uat-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ChangeTrackingCommunicationDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceCosmosDbCommunicationService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"timestamp": {
							"type": "string"
						},
						"userId": {
							"type": "integer"
						},
						"rememberMeId": {
							"type": "string"
						},
						"verified": {
							"type": "boolean"
						},
						"verification": {
							"type": "object",
							"properties": {
								"dob": {
									"type": "boolean"
								},
								"age": {
									"type": "boolean"
								},
								"previousVerification": {
									"type": "boolean"
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "change-tracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceSendGridDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceCosmosDbCommunicationService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"timestamp": {
							"type": "string"
						},
						"userId": {
							"type": "integer"
						},
						"rememberMeId": {
							"type": "string"
						},
						"verified": {
							"type": "boolean"
						},
						"verification": {
							"type": "object",
							"properties": {
								"dob": {
									"type": "boolean"
								},
								"age": {
									"type": "boolean"
								},
								"previousVerification": {
									"type": "boolean"
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "tracking"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkSendGridDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DestinationLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PersonID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Age",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "SendGrid",
					"table": "SendGrid"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline_SendGrid')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": "SELECT top 1 c.MaxTS FROM c order by c._ts desc",
								"preferredRegions": []
							},
							"dataset": {
								"referenceName": "ChangeTrackingCommunicationDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT c.RecipientUserID,c.TemplateName,c.event,udf.convertTime(c._ts) as EventTime FROM c where c.TemplateName<>null and c._ts>@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.MaxTS}",
									"type": "Expression"
								},
								"preferredRegions": []
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['RecipientUserID']"
										},
										"sink": {
											"name": "RecipientUserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['TemplateName']"
										},
										"sink": {
											"name": "TemplateName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['EventTime']"
										},
										"sink": {
											"name": "EventDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['event']"
										},
										"sink": {
											"name": "Event",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "SourceSendGridDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkSendGridDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "UpdateMax",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT top 1 c._ts FROM c where c._ts>@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.MaxTS} order by c._ts desc",
									"type": "Expression"
								},
								"preferredRegions": []
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_ts']"
										},
										"sink": {
											"path": "$['MaxTS']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceVerificationAttemptsDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ChangeTrackingVerificationDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ChangeTrackingCommunicationDataset')]",
				"[concat(variables('factoryId'), '/datasets/SourceSendGridDataset')]",
				"[concat(variables('factoryId'), '/datasets/SinkSendGridDataset')]"
			]
		}
	]
}