pipeline/IncrementalCopyPipeline_WebsiteRegistrationSupportActivity.json
{
	"name": "IncrementalCopyPipeline_WebsiteRegistrationSupportActivity",
	"properties": {
		"activities": [
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Website.RegistrationFormSupportActivity'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ChangeTrackingGroupDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ChangeTrackingGroupDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopyActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select CT.[RequestHelpFormVariantID], CT.[SupportActivityID],a.[Label], a.[DisplayOrder], a.[IsPreSelected], CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION \nfrom [Website].[RegistrationFormSupportActivity] a RIGHT OUTER JOIN \nCHANGETABLE(CHANGES [Website].[RegistrationFormSupportActivity], @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) as CT on \na.[RequestHelpFormVariantID] = CT.[RequestHelpFormVariantID] \nand a.[SupportActivityID] = CT.[SupportActivityID]\nwhere CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false,
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RequestHelpFormVariantID",
									"type": "Byte"
								},
								"sink": {
									"name": "RequestHelpFormVariantID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SupportActivityID",
									"type": "Int32"
								},
								"sink": {
									"name": "SupportActivityID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "Label",
									"type": "String"
								},
								"sink": {
									"name": "Label",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DisplayOrder",
									"type": "Byte"
								},
								"sink": {
									"name": "DisplayOrder",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "IsPreSelected",
									"type": "Boolean"
								},
								"sink": {
									"name": "IsPreSelected",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "SYS_CHANGE_VERSION",
									"type": "Int64"
								},
								"sink": {
									"name": "SYS_CHANGE_VERSION",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "SYS_CHANGE_OPERATION",
									"type": "String"
								},
								"sink": {
									"name": "SYS_CHANGE_OPERATION",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceWebsiteRegistrationFormSupportActivityDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkWebsiteRegistrationFormSupportActivityDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProceduretoUpdateChangeTrackingActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopyActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "Update_ChangeTracking_Version",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "INT64"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SourceGroupServiceLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}