helpmystreet-dev-datafactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "helpmystreet-dev-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceUserUserDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceUserServiceLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirebaseUID",
						"type": "varchar"
					},
					{
						"name": "PostalCode",
						"type": "varchar"
					},
					{
						"name": "EmailSharingConsent",
						"type": "bit"
					},
					{
						"name": "MobileSharingConsent",
						"type": "bit"
					},
					{
						"name": "OtherPhoneSharingConsent",
						"type": "bit"
					},
					{
						"name": "HMSContactConsent",
						"type": "bit"
					},
					{
						"name": "IsVolunteer",
						"type": "bit"
					},
					{
						"name": "IsVerified",
						"type": "bit"
					},
					{
						"name": "DateCreated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "StreetChampionRoleUnderstood",
						"type": "bit"
					},
					{
						"name": "SupportVolunteersByPhone",
						"type": "bit"
					},
					{
						"name": "SupportRadiusMiles",
						"type": "float",
						"precision": 15
					}
				],
				"typeProperties": {
					"schema": "User",
					"table": "User"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceVerificationAttemptsDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SourceCosmosDbVerificationService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"timestamp": {
							"type": "string"
						},
						"userId": {
							"type": "integer"
						},
						"rememberMeId": {
							"type": "string"
						},
						"verified": {
							"type": "boolean"
						},
						"verification": {
							"type": "object",
							"properties": {
								"dob": {
									"type": "boolean"
								},
								"age": {
									"type": "boolean"
								},
								"previousVerification": {
									"type": "boolean"
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "verification-attempts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_Address')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AddressAddressDetails",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[Id], a.[PostcodeId], a.[AddressLine1],a.[AddressLine2], a.[AddressLine3],a.[Locality],a.[LastUpdated],CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Address].[AddressDetail] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PostcodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "PostcodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AddressLine1",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine2",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine3",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Locality",
											"type": "String"
										},
										"sink": {
											"name": "Locality",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AddressPostCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[Id],a.[Postcode],a.[LastUpdated],a.[Latitude],a.[Longitude],a.[FriendlyName],a.[IsActive],CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION FROM [Address].[Postcode] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FriendlyName",
											"type": "String"
										},
										"sink": {
											"name": "FriendlyName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressPostcodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressPostcodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AddressPreComputedNearestPostCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[Id],a.[Postcode],a.CompressedNearestPostcodes,CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION FROM [Address].[PreComputedNearestPostcodes] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompressedNearestPostcodes",
											"type": "Byte[]"
										},
										"sink": {
											"name": "CompressedNearestPostcodes",
											"type": "Byte[]"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressPreComputedNearestPostcodesDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressPreComputedNearestPostcodesDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_AddressAddressDetail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[Id], a.[PostcodeId], a.[AddressLine1],a.[AddressLine2], a.[AddressLine3],a.[Locality],a.[LastUpdated],CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Address].[AddressDetail] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PostcodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "PostcodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AddressLine1",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine2",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine3",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Locality",
											"type": "String"
										},
										"sink": {
											"name": "Locality",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_AddressPostcode')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[Id],a.[Postcode],a.[LastUpdated],a.[Latitude],a.[Longitude],a.[FriendlyName],a.[IsActive],CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION FROM [Address].[Postcode] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FriendlyName",
											"type": "String"
										},
										"sink": {
											"name": "FriendlyName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressPostcodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressPostcodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_AddressPreComputedNearestPostcodes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[Id],a.[Postcode],a.CompressedNearestPostcodes,CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION FROM [Address].[PreComputedNearestPostcodes] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompressedNearestPostcodes",
											"type": "Byte[]"
										},
										"sink": {
											"name": "CompressedNearestPostcodes",
											"type": "Byte[]"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressPreComputedNearestPostcodesDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressPreComputedNearestPostcodesDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_FeedbackFeedback')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT a.[ID],a.[FeedbackDate],a.[JobId],a.[UserId],a.[RequestRoleTypeID],a.[FeedbackRatingTypeID],CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION FROM [Feedback].[Feedback] a",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FeedbackDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "FeedbackDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "JobId",
											"type": "Int32"
										},
										"sink": {
											"name": "JobId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "UserId",
											"type": "Int32"
										},
										"sink": {
											"name": "UserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RequestRoleTypeID",
											"type": "Byte"
										},
										"sink": {
											"name": "RequestRoleTypeID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FeedbackRatingTypeID",
											"type": "Byte"
										},
										"sink": {
											"name": "FeedbackRatingTypeID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceFeedbackFeedbackDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkFeedbackFeedbackDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestJob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.ID, r.RequestId, r.SupportActivityID, r.Details, r.DueDate, r.IsHealthCritical, r.JobStatusID, r.VolunteerUserID, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Request].[Job] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RequestId",
											"type": "Int32"
										},
										"sink": {
											"name": "RequestId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SupportActivityID",
											"type": "Byte"
										},
										"sink": {
											"name": "SupportActivityID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "Details",
											"type": "String"
										},
										"sink": {
											"name": "Details",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DueDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "DueDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsHealthCritical",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsHealthCritical",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "JobStatusID",
											"type": "Byte"
										},
										"sink": {
											"name": "JobStatusID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "VolunteerUserID",
											"type": "Int32"
										},
										"sink": {
											"name": "VolunteerUserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestJobDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestJobDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestJobQuestions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.JobID, r.QuestionID, r.Answer, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Request].[JobQuestions] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JobID",
											"type": "Int32"
										},
										"sink": {
											"name": "JobID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QuestionID",
											"type": "Int32"
										},
										"sink": {
											"name": "QuestionID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Answer",
											"type": "String"
										},
										"sink": {
											"name": "Answer",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestJobQuestionsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestJobQuestionsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestJobStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.JobID, r.JobStatusID, r.DateCreated, r.VolunteerUserID, r.CreatedByUserID, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Request].[RequestJobStatus] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "JobID",
											"type": "Int32"
										},
										"sink": {
											"name": "JobID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "JobStatusID",
											"type": "Byte"
										},
										"sink": {
											"name": "JobStatusID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "DateCreated",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateCreated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "VolunteerUserID",
											"type": "Int32"
										},
										"sink": {
											"name": "VolunteerUserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CreatedByUserID",
											"type": "Int32"
										},
										"sink": {
											"name": "CreatedByUserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestJobStatusDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestJobStatusDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestQuestionSetActivityQuestions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.ActivityID, r.QuestionID, r.[Order], CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [QuestionSet].[ActivityQuestions] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ActivityID",
											"type": "Int32"
										},
										"sink": {
											"name": "ActivityID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "QuestionID",
											"type": "Int32"
										},
										"sink": {
											"name": "QuestionID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Order",
											"type": "Int32"
										},
										"sink": {
											"name": "Order",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestQuestionSetActivityQuestionsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestQuestionSetActivityQuestionsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestQuestionSetQuestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.ID, r.[Name], r.QuestionType, r.[Required],r.AdditionalData, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [QuestionSet].[Question] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QuestionType",
											"type": "Byte"
										},
										"sink": {
											"name": "QuestionType",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "Required",
											"type": "Boolean"
										},
										"sink": {
											"name": "Required",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "AdditionalData",
											"type": "String"
										},
										"sink": {
											"name": "AdditionalData",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestQuestionSetQuestionsDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestQuestionSetQuestionDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestRequest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.ID, r.PostCode, r.DateRequested, r.IsFulfillable,r.CommunicationSent,r.ForRequestor,r.OtherDetails,r.PersonID_Recipient,r.PersonID_Requester,r.ReadPrivacyNotice,r.AcceptedTerms,r.SpecialCommunicationNeeds,r.CreatedByUserID, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [Request].[Request] r",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PostCode",
											"type": "String"
										},
										"sink": {
											"name": "PostCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DateRequested",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateRequested",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsFulfillable",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsFulfillable",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CommunicationSent",
											"type": "Boolean"
										},
										"sink": {
											"name": "CommunicationSent",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ForRequestor",
											"type": "Boolean"
										},
										"sink": {
											"name": "ForRequestor",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "OtherDetails",
											"type": "String"
										},
										"sink": {
											"name": "OtherDetails",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PersonID_Recipient",
											"type": "Int32"
										},
										"sink": {
											"name": "PersonID_Recipient",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PersonID_Requester",
											"type": "Int32"
										},
										"sink": {
											"name": "PersonID_Requester",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ReadPrivacyNotice",
											"type": "Boolean"
										},
										"sink": {
											"name": "ReadPrivacyNotice",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "AcceptedTerms",
											"type": "Boolean"
										},
										"sink": {
											"name": "AcceptedTerms",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "SpecialCommunicationNeeds",
											"type": "String"
										},
										"sink": {
											"name": "SpecialCommunicationNeeds",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedByUserID",
											"type": "Int32"
										},
										"sink": {
											"name": "CreatedByUserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestRequestDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestRequestDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_RequestRequestTemp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select r.ID,  r.RequestorType,r.OrganisationName\nfrom [Request].[Request] r \nwhere RequestorType is not null or OrganisationName is not null",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RequestorType",
											"type": "Byte"
										},
										"sink": {
											"name": "RequestorType",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "OrganisationName",
											"type": "String"
										},
										"sink": {
											"name": "OrganisationName",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceRequestRequestDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkRequestRequestTempDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_UserChampionPostCode')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select u.UserID,u.PostalCode, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [User].[ChampionPostcode] u ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserID",
											"type": "Int32"
										},
										"sink": {
											"name": "UserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"name": "PostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceUserChampionPostCodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkUserChampionPostCodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_UserRegistrationHistory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select u.UserID,u.RegistrationStep,u.DateCompleted, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [User].[RegistrationHistory] u",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserID",
											"type": "Int32"
										},
										"sink": {
											"name": "UserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RegistrationStep",
											"type": "Byte"
										},
										"sink": {
											"name": "RegistrationStep",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "DateCompleted",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateCompleted",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceUserRegistrationHistoryDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkUserRegistrationHistoryDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_UserSupportActivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select u.UserID,u.ActivityID, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [User].[SupportActivity] u",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserID",
											"type": "Int32"
										},
										"sink": {
											"name": "UserID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ActivityID",
											"type": "Byte"
										},
										"sink": {
											"name": "ActivityID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceUserSupportActivityDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkUserSupportActivityDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullCopyPipeline_UserUser')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select u.ID, u.FirebaseUID, u.PostalCode, u.EmailSharingConsent, u.MobileSharingConsent, u.OtherPhoneSharingConsent, u.HMSContactConsent, u.IsVolunteer, u.IsVerified, u.DateCreated, u.StreetChampionRoleUnderstood, u.SupportVolunteersByPhone, u.SupportRadiusMiles, CHANGE_TRACKING_CURRENT_VERSION() as SYS_CHANGE_VERSION, 'I' as SYS_CHANGE_OPERATION from [User].[User] u ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID"
										},
										"sink": {
											"name": "ID"
										}
									},
									{
										"source": {
											"name": "FirebaseUID"
										},
										"sink": {
											"name": "FirebaseUID"
										}
									},
									{
										"source": {
											"name": "PostalCode"
										},
										"sink": {
											"name": "PostalCode"
										}
									},
									{
										"source": {
											"name": "EmailSharingConsent"
										},
										"sink": {
											"name": "EmailSharingConsent"
										}
									},
									{
										"source": {
											"name": "MobileSharingConsent"
										},
										"sink": {
											"name": "MobileSharingConsent"
										}
									},
									{
										"source": {
											"name": "OtherPhoneSharingConsent"
										},
										"sink": {
											"name": "OtherPhoneSharingConsent"
										}
									},
									{
										"source": {
											"name": "HMSContactConsent"
										},
										"sink": {
											"name": "HMSContactConsent"
										}
									},
									{
										"source": {
											"name": "IsVolunteer"
										},
										"sink": {
											"name": "IsVolunteer"
										}
									},
									{
										"source": {
											"name": "IsVerified"
										},
										"sink": {
											"name": "IsVerified"
										}
									},
									{
										"source": {
											"name": "DateCreated"
										},
										"sink": {
											"name": "DateCreated"
										}
									},
									{
										"source": {
											"name": "StreetChampionRoleUnderstood"
										},
										"sink": {
											"name": "StreetChampionRoleUnderstood"
										}
									},
									{
										"source": {
											"name": "SupportVolunteersByPhone"
										},
										"sink": {
											"name": "SupportVolunteersByPhone"
										}
									},
									{
										"source": {
											"name": "SupportRadiusMiles"
										},
										"sink": {
											"name": "SupportRadiusMiles"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceUserUserDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkUserUserDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceUserUserDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline_Address')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastChangeAddressDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Address.AddressDetail'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupCurrentChangeTrackingVersionActivity1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "IncrementalCopyAddressDetail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeAddressDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupCurrentChangeTrackingVersionActivity1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select CT.ID, a.[PostcodeId], a.[AddressLine1],a.[AddressLine2], a.[AddressLine3],a.[Locality],a.[LastUpdated] , CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from [Address].[AddressDetail] a RIGHT OUTER JOIN CHANGETABLE(CHANGES [Address].[AddressDetail], @{activity('LookupLastChangeAddressDetail').output.firstRow.SYS_CHANGE_VERSION}) as CT on a.ID = CT.ID where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity1').output.firstRow.CurrentChangeTrackingVersion}\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PostcodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "PostcodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AddressLine1",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine2",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine3",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Locality",
											"type": "String"
										},
										"sink": {
											"name": "Locality",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SPUpdateChangeTrackingAddressDetail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyAddressDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Update_ChangeTracking_Version",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('LookupCurrentChangeTrackingVersionActivity1').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "INT64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupLastChangeAddressDetail').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SourceAddressServiceLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LookupLastChangeAddressPostCode",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Address.Postcode'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "IncrementalCopyAddressPostCode",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeAddressPostCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupCurrentChangeTrackingVersionActivity2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select CT.ID, a.[Postcode],a.[LastUpdated],a.[Latitude],a.[Longitude],a.[FriendlyName],a.[IsActive], CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from [Address].[Postcode] a RIGHT OUTER JOIN CHANGETABLE(CHANGES [Address].[PostCode], @{activity('LookupLastChangeAddressPostCode').output.firstRow.SYS_CHANGE_VERSION}) as CT on a.ID = CT.ID where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity2').output.firstRow.CurrentChangeTrackingVersion}",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Latitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "Decimal"
										},
										"sink": {
											"name": "Longitude",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FriendlyName",
											"type": "String"
										},
										"sink": {
											"name": "FriendlyName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IsActive",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsActive",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressPostcodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressPostcodeDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SPUpdateChangeTrackingAddressPostCode",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyAddressPostCode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Update_ChangeTracking_Version",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('LookupCurrentChangeTrackingVersionActivity2').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "INT64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupLastChangeAddressPostCode').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SourceAddressServiceLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LookupLastChangePreComputedNearestPostcodes",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Address.PreComputedNearestPostcodes'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "IncrementalCopyPreComputedNearestPostCode",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangePreComputedNearestPostcodes",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupCurrentChangeTrackingVersionActivity3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select CT.ID, a.[Postcode],a.CompressedNearestPostcodes, CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from [Address].[PreComputedNearestPostcodes] a RIGHT OUTER JOIN CHANGETABLE(CHANGES [Address].[PreComputedNearestPostcodes], @{activity('LookupLastChangePreComputedNearestPostcodes').output.firstRow.SYS_CHANGE_VERSION}) as CT on a.ID = CT.ID where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity3').output.firstRow.CurrentChangeTrackingVersion}",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Postcode",
											"type": "String"
										},
										"sink": {
											"name": "Postcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompressedNearestPostcodes",
											"type": "Byte[]"
										},
										"sink": {
											"name": "CompressedNearestPostcodes",
											"type": "Byte[]"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressPreComputedNearestPostcodesDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressPreComputedNearestPostcodesDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SPUpdateChangeTrackingPreComputedNearestPostCode",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyPreComputedNearestPostCode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Update_ChangeTracking_Version",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('LookupCurrentChangeTrackingVersionActivity3').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "INT64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupLastChangePreComputedNearestPostcodes').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SourceAddressServiceLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LookupCurrentChangeTrackingVersionActivity2",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupCurrentChangeTrackingVersionActivity3",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline_AddressAddressDetail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from table_store_ChangeTracking_version\nwhere TableName='Address.AddressDetail'",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "LookupCurrentChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ChangeTrackingAddressDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupCurrentChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select CT.ID, a.[PostcodeId], a.[AddressLine1],a.[AddressLine2], a.[AddressLine3],a.[Locality],a.[LastUpdated] , CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from [Address].[AddressDetail] a RIGHT OUTER JOIN CHANGETABLE(CHANGES [Address].[AddressDetail], @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) as CT on a.ID = CT.ID where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PostcodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "PostcodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AddressLine1",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine2",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AddressLine3",
											"type": "String"
										},
										"sink": {
											"name": "AddressLine3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Locality",
											"type": "String"
										},
										"sink": {
											"name": "Locality",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastUpdated",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastUpdated",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int64"
										},
										"sink": {
											"name": "SYS_CHANGE_VERSION",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										},
										"sink": {
											"name": "SYS_CHANGE_OPERATION",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkAddressAddressDetailDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "StoredProceduretoUpdateChangeTrackingActivity",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Update_ChangeTracking_Version",
							"storedProcedureParameters": {
								"CurrentTrackingVersion": {
									"value": {
										"value": "@{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
										"type": "Expression"
									},
									"type": "INT64"
								},
								"TableName": {
									"value": {
										"value": "@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.TableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SourceAddressServiceLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}