helpmystreet-live-datafactory/PartialArmTemplates/ArmTemplate_8_27_2020_9_10_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "helpmystreet-live-datafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyPipeline_VerificationAttempts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLastChangeTrackingVersionActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": "SELECT top 1 c.MaxTS FROM c order by c._ts desc",
								"preferredRegions": []
							},
							"dataset": {
								"referenceName": "ChangeTrackingVerificationDataset",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "IncrementalCopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupLastChangeTrackingVersionActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT c.datestamp, c.userId, c.rememberMeId, c.verified, c.verificationDetails.dobMatch, c.verificationDetails.ageMatch, c.verificationDetails.notPreviouslyVerified,c.userUpdated \nfrom c where c._ts>@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.MaxTS}",
									"type": "Expression"
								},
								"preferredRegions": [],
								"detectDatetime": true
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['datestamp']"
										},
										"sink": {
											"name": "DateOfAttempt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['userId']"
										},
										"sink": {
											"name": "UserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['rememberMeId']"
										},
										"sink": {
											"name": "YotiRememberMeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['verified']"
										},
										"sink": {
											"name": "Verified",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['dob']"
										},
										"sink": {
											"name": "DobMatch",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['age']"
										},
										"sink": {
											"name": "AgeMatch",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['previousVerification']"
										},
										"sink": {
											"name": "NotPreviouslyVerified",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['userUpdated']"
										},
										"sink": {
											"name": "UserServiceUpdated",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceVerificationAttemptsDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SinkVerificationDataset",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "UpdateMax",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "IncrementalCopyActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"query": {
									"value": "SELECT top 1 c._ts FROM c where c._ts>@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.MaxTS} order by c._ts desc",
									"type": "Expression"
								},
								"preferredRegions": []
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_ts']"
										},
										"sink": {
											"path": "$['MaxTS']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceVerificationAttemptsDataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ChangeTrackingVerificationDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}